/*  your css code here. If applicable */
header {
  text-align: center;
  color: white;
  background-color: black;
  height: 60px;
  padding: 20px;
  font-size: 40px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
body {
  background-color: #f5f5f5;
}
.item {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
img {
  width: 100%;
}
.latest-news-section{
	
}
.pictorial-news-section{
	text-align:center;
}